[Desktop Entry]
Encoding=UTF-8
Name=Macoin
Comment=Macoin P2P Cryptocurrency
Comment[fr]=Macoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Macoin, eşten eşe kriptografik sanal para birimi
Exec=macoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/macoin;
Categories=Office;Finance;
